/result/** -text
/test/** -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
error.c filter=lfs diff=lfs merge=lfs -text
genUnicode.py filter=lfs diff=lfs merge=lfs -text
hash.c filter=lfs diff=lfs merge=lfs -text
HTMLtree.c filter=lfs diff=lfs merge=lfs -text
timsort.h filter=lfs diff=lfs merge=lfs -text
win32 filter=lfs diff=lfs merge=lfs -text
legacy.c filter=lfs diff=lfs merge=lfs -text
uri.c filter=lfs diff=lfs merge=lfs -text
chvalid.def filter=lfs diff=lfs merge=lfs -text
genChRanges.py filter=lfs diff=lfs merge=lfs -text
gentest.py filter=lfs diff=lfs merge=lfs -text
rngparser.c filter=lfs diff=lfs merge=lfs -text
testHTML.c filter=lfs diff=lfs merge=lfs -text
testlimits.c filter=lfs diff=lfs merge=lfs -text
xzlib.h filter=lfs diff=lfs merge=lfs -text
check-xinclude-test-suite.py filter=lfs diff=lfs merge=lfs -text
libxml.3 filter=lfs diff=lfs merge=lfs -text
libxml.m4 filter=lfs diff=lfs merge=lfs -text
regressions.py filter=lfs diff=lfs merge=lfs -text
tree.c filter=lfs diff=lfs merge=lfs -text
xmlregexp.c filter=lfs diff=lfs merge=lfs -text
chvalid.c filter=lfs diff=lfs merge=lfs -text
elfgcchack.h filter=lfs diff=lfs merge=lfs -text
INSTALL.libxml2 filter=lfs diff=lfs merge=lfs -text
README.zOS filter=lfs diff=lfs merge=lfs -text
testchar.c filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
valid.c filter=lfs diff=lfs merge=lfs -text
acinclude.m4 filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
macos filter=lfs diff=lfs merge=lfs -text
MAINTAINERS filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
testModule.c filter=lfs diff=lfs merge=lfs -text
xmlschemastypes.c filter=lfs diff=lfs merge=lfs -text
globals.c filter=lfs diff=lfs merge=lfs -text
HTMLparser.c filter=lfs diff=lfs merge=lfs -text
schematron.c filter=lfs diff=lfs merge=lfs -text
testdso.c filter=lfs diff=lfs merge=lfs -text
testOOM.c filter=lfs diff=lfs merge=lfs -text
libxml2-config.cmake.in filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
trio.h filter=lfs diff=lfs merge=lfs -text
xmlreader.c filter=lfs diff=lfs merge=lfs -text
testC14N.c filter=lfs diff=lfs merge=lfs -text
trionan.c filter=lfs diff=lfs merge=lfs -text
xmlstring.c filter=lfs diff=lfs merge=lfs -text
list.c filter=lfs diff=lfs merge=lfs -text
xmllint.c filter=lfs diff=lfs merge=lfs -text
dict.c filter=lfs diff=lfs merge=lfs -text
SAX2.c filter=lfs diff=lfs merge=lfs -text
testSAX.c filter=lfs diff=lfs merge=lfs -text
xmlschemas.c filter=lfs diff=lfs merge=lfs -text
xpointer.c filter=lfs diff=lfs merge=lfs -text
xzlib.c filter=lfs diff=lfs merge=lfs -text
c14n.c filter=lfs diff=lfs merge=lfs -text
nanohttp.c filter=lfs diff=lfs merge=lfs -text
xinclude.c filter=lfs diff=lfs merge=lfs -text
xmlcatalog.c filter=lfs diff=lfs merge=lfs -text
check-relaxng-test-suite2.py filter=lfs diff=lfs merge=lfs -text
dbgen.pl filter=lfs diff=lfs merge=lfs -text
Makefile.win filter=lfs diff=lfs merge=lfs -text
testOOMlib.h filter=lfs diff=lfs merge=lfs -text
triodef.h filter=lfs diff=lfs merge=lfs -text
catalog.c filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.cvs-commits filter=lfs diff=lfs merge=lfs -text
testrecurse.c filter=lfs diff=lfs merge=lfs -text
testRegexp.c filter=lfs diff=lfs merge=lfs -text
threads.c filter=lfs diff=lfs merge=lfs -text
triostr.c filter=lfs diff=lfs merge=lfs -text
xml2-config.in filter=lfs diff=lfs merge=lfs -text
xpath.c filter=lfs diff=lfs merge=lfs -text
check-relaxng-test-suite.py filter=lfs diff=lfs merge=lfs -text
entities.c filter=lfs diff=lfs merge=lfs -text
example filter=lfs diff=lfs merge=lfs -text
libxml2-config.cmake.cmake.in filter=lfs diff=lfs merge=lfs -text
parserInternals.c filter=lfs diff=lfs merge=lfs -text
README.tests filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
testXPath.c filter=lfs diff=lfs merge=lfs -text
global.data filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
libxml.spec.in filter=lfs diff=lfs merge=lfs -text
post_update.sh filter=lfs diff=lfs merge=lfs -text
runtest.c filter=lfs diff=lfs merge=lfs -text
xmlunicode.c filter=lfs diff=lfs merge=lfs -text
libxml-2.0-uninstalled.pc.in filter=lfs diff=lfs merge=lfs -text
libxml.h filter=lfs diff=lfs merge=lfs -text
trionan.h filter=lfs diff=lfs merge=lfs -text
buf.c filter=lfs diff=lfs merge=lfs -text
build_glob.py filter=lfs diff=lfs merge=lfs -text
dbgenattr.pl filter=lfs diff=lfs merge=lfs -text
pattern.c filter=lfs diff=lfs merge=lfs -text
xml2-config.1 filter=lfs diff=lfs merge=lfs -text
libxml2.syms filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
regressions.xml filter=lfs diff=lfs merge=lfs -text
SAX.c filter=lfs diff=lfs merge=lfs -text
testOOMlib.c filter=lfs diff=lfs merge=lfs -text
testURI.c filter=lfs diff=lfs merge=lfs -text
trio.c filter=lfs diff=lfs merge=lfs -text
encoding.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
runxmlconf.c filter=lfs diff=lfs merge=lfs -text
xmlwriter.c filter=lfs diff=lfs merge=lfs -text
buf.h filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
Copyright filter=lfs diff=lfs merge=lfs -text
testAutomata.c filter=lfs diff=lfs merge=lfs -text
testReader.c filter=lfs diff=lfs merge=lfs -text
testThreads.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
runsuite.c filter=lfs diff=lfs merge=lfs -text
testSchemas.c filter=lfs diff=lfs merge=lfs -text
triostr.h filter=lfs diff=lfs merge=lfs -text
VxWorks filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
DOCBparser.c filter=lfs diff=lfs merge=lfs -text
Makefile.tests filter=lfs diff=lfs merge=lfs -text
optim filter=lfs diff=lfs merge=lfs -text
parser.c filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
os400 filter=lfs diff=lfs merge=lfs -text
save.h filter=lfs diff=lfs merge=lfs -text
triop.h filter=lfs diff=lfs merge=lfs -text
testRelax.c filter=lfs diff=lfs merge=lfs -text
xml2Conf.sh.in filter=lfs diff=lfs merge=lfs -text
xmlIO.c filter=lfs diff=lfs merge=lfs -text
bakefile filter=lfs diff=lfs merge=lfs -text
result filter=lfs diff=lfs merge=lfs -text
TODO_SCHEMAS filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
fuzz filter=lfs diff=lfs merge=lfs -text
nanoftp.c filter=lfs diff=lfs merge=lfs -text
xlink.c filter=lfs diff=lfs merge=lfs -text
xmlsave.c filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
check-xml-test-suite.py filter=lfs diff=lfs merge=lfs -text
enc.h filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
testdict.c filter=lfs diff=lfs merge=lfs -text
vms filter=lfs diff=lfs merge=lfs -text
xmlmodule.c filter=lfs diff=lfs merge=lfs -text
xstc filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
config.h.cmake.in filter=lfs diff=lfs merge=lfs -text
relaxng.c filter=lfs diff=lfs merge=lfs -text
testapi.c filter=lfs diff=lfs merge=lfs -text
xmlmemory.c filter=lfs diff=lfs merge=lfs -text
check-xsddata-test-suite.py filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING filter=lfs diff=lfs merge=lfs -text
debugXML.c filter=lfs diff=lfs merge=lfs -text
libxml-2.0.pc.in filter=lfs diff=lfs merge=lfs -text
libxml2.doap filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
